[submodule "xinfra/istory-infra"]
	path = xinfra/istory-infra
	url = https://github.com/soyoung-neowoori/istory-infra.git
[submodule "xinfra/istory-platform"]
	path = xinfra/istory-platform
	url = https://github.com/soyoung-neowoori/istory-platform.git
